<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
</head>
<body>
    <h1>
        Add Post
    </h1>
    <div>
        <form action="/addPost" method="post">
            <div>
                <label for="">Title:</label>
                <input type="text" name="title">
            </div>
            <div>
                <label for="">Image Url:</label>
                <input type="text" name="imgUrl" id="">
            </div>
            <div>
                <select name="TagId" id="">
                    <% result.forEach(el => { %>
                        <option value="<%= el.id %>"><%= el.name %></option>
                    <% }) %> 
                </select>
            </div>
            <input type="submit" value="test">
        </form>
    </div>
</body>
</html>