<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header', {title: 'Hackstagram'}); %>
</head>
<body>
    <%- include('partials/navbar'); %>

    <h2 class="text-center mt-5">Add Post</h2>

    <div class="container w-50">
        <form action="/addPost" method="post">
            <div class="row">
                <label for="" class="form-label">Title</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="row">
                <label for="" class="form-label">Image Url</label>
                <input type="text" name="imgUrl" id="" class="form-control">
            </div>
            <div class="row">
                <label for="" class="form-label">Tag</label>
                <select name="TagId" id="" class="form-select">
                    <% result.forEach(el => { %>
                        <option value="<%= el.id %>"><%= el.name %></option>
                    <% }) %> 
                </select>
            </div>
            <div class="row mt-5">
                <input type="submit" value="Upload" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>